body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}



ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

address:hover,
address:focus {
  color: #404bbf;
}

.section:nth-child(1), footer{
  background-color: #2e2f42;
}

.container{
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
header .container{
  border-bottom: 1px solid #E7E9FC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  container: 156px;
  padding-top: 24px;
  padding-bottom: 24px;

}
header .container nav{
  display: flex;
  flex-direction: row;

}

header .container .address ul{
  display: flex;
  flex-direction: row;
}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 76px;
}


.logo{
  font-weight:700;
  font-size: 18px;
  line-height:1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.studio-logo{
  color: #2e2f42;
}
.link{
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}

.link:hover,
.link:focus{
  color:#404bbf;
}

.address-link{
  padding-left: 40px;
}

.section{
padding-top: 120px;
padding-bottom: 120px;
}

.top-title{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 48px;
}

.button {
  
  cursor: pointer;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}



.title-qualities{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color:#2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
}

.list-qualities {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.list-qualities li{
  width: 264px;
}

.address{
  font-style: normal;
}

.address-link{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;

}

.address-link:hover,
.address-link:focus{
  color:#404bbf;
}

.button:hover,
.button:focus{
  background-color: #404BBF;
}

.qualities-description{
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

section:nth-child(3){
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
}




.our-team-title{
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2E2F42;
  margin-bottom: 72px;
}

.team-list{
  display: flex;
  flex-direction: row;
  gap:24px;
  justify-content: center;
}

.our-team-title{
  display: flex;
  flex-direction: row;
}

.person-card{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  text-align: center;
}



.our-team .title-qualities{
  background-color:#ffffff;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2E2F42;

}

.our-team .qualities-description{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.qualities-description{
  padding-bottom: 32px;
}

.bottom-section{
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.project-list{
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.project-list li{
  border: solid 1px #E7E9FC;
  width:358px;
}

.project-list li img{
  padding-bottom: 32px;
  background-size: cover;
}

.our-portfolio-example{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2E2F42;
  padding-bottom: 8px;
  margin-left: 16px;
  
}
.our-portfolio-description{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  padding-bottom: 32px;
  margin-left: 16px;
  }

.our-portfolio-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2E2F42 ;
  padding-bottom: 72px;
}


footer{
  padding-top: 100px;
  padding-bottom: 100px;
}



.footer .studio-logo{
  color:#f4f4fd ;
  
}

.footer-paragraph{
  padding-top: 8px;
  line-height: 1.5;
  color:#F4F4FD ;
  letter-spacing: 0.02em;
  max-width: 264px;
}

